/* Fonts: external + local pixel font */
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Noto+Sans:wght@400;500;700&display=swap');

@font-face {
  font-family: 'MinecraftSeven-v2';
  src: local('MinecraftSeven-v2'),
       url('../assets/fonts/minecraft-seven-2.otf') format('opentype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
